<div class="col" *ngIf="user">
	<h1>{{title}}</h1>
	<div *ngIf="alertRegister">
		<div class="alert alert-info">
			{{alertMessage}}
		</div>
	</div>
	<form class="col-md-10" #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">

		<p>
			<label>Nombre:</label>
			<input type="text" class="form-control" required #name="ngModel" name="name" [(ngModel)]="user.name" />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label>Apellido:</label>
			<input type="text" class="form-control" required #surname="ngModel" name="surname" [(ngModel)]="user.surname" />
			<span *ngIf="!surname.valid && surname.touched">
				El apellido es obligatorio
			</span>
		</p>
		<p>
			<label>Email:</label>
			<input type="text" class="form-control" required #regEmail="ngModel" name="email" [(ngModel)]="user.email" />
			<span *ngIf="!regEmail.valid && regEmail.touched">
				El email es obligatorio
			</span>
		</p>

		<div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
			<img src="{{url}}get-image-file/{{user.image}}" />
		</div>

		<p>
			<label>Sube tu foto:</label>
			<input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
		</p>

		<input type="submit" class="btn btn-primary" value="Actualizar mis datos">

	</form>
</div>